// ── XP SYSTEM UI ──────────────────────────────────────────

// Login Screen
$xp-login-bg:         #5B7DDD;
$xp-login-bar:        #002F9C;
$xp-login-divider:    rgba(237, 228, 228, 0.789);
$xp-login-text:       #ffffff;

// Taskbar
$xp-taskbar-top:     #245edb;
$xp-taskbar-bottom:  #1941a5;
$xp-taskbar-shine:   rgba(255, 255, 255, 0.3); 
$xp-taskbar-height:  4rem;

// Start button
$xp-start-top:       #57a818;
$xp-start-bottom:    #3c7a0e;

// Start menu
$xp-menu-header-top:    #1740a8;
$xp-menu-header-bottom: #3b6fd4;
$xp-menu-body-bg:       #ffffff;
$xp-menu-body-right:    #d8e4f8;
$xp-menu-footer-bg:     #1740a8;
$xp-menu-hover:         #316ac5;
$xp-menu-width:         38rem;

// Ventana
$xp-window-title-left:  #0a58c8;
$xp-window-title-right: #2b88f0;
$xp-window-border:      #0831a3;

// System tray
$xp-tray-bg:         #123fbc;

// Texto del sistema
$xp-font:            'Tahoma', sans-serif;
$xp-text-icon:       #ffffff;
$xp-text-shadow:     1px 1px 2px rgba(0, 0, 0, 0.8);

// ── FRUTIGER AERO PLAYER ──────────────────────────────────


// ── Breakpoints ───────────────────────────────────────────
$bp-sm:   480px;
$bp-md:   768px;
$bp-lg:  1024px;
$bp-xl:  1440px;
